**/__pycache__/

_arxiv/
data/
src/
apxs/
secs/
code/

results/
!results/figures/
!results/tables/

notes.md
outline.md
todos.md

_main.tex
_main.pdf
_main.qmd
*.ptc
*.log
*.aux
*.fls
*_files/
*.fdb_latexmk
*.synctex.gz

