# large files (upload feather files instead)
cmp_translation_manifesto_sentences_predicted_group_mentions_spans.tsv
cmp_translation_manifesto_sentences_predicted_social_group_mentions_with_economic_attributes_classifications.tsv
cmp_translation_manifesto_sentences_predicted_social_group_mentions_with_noneconomic_attributes_classifications.tsv
# use feather files instead
manifesto_sentences_predicted_group_mentions_spans.tsv 
manifesto_sentences_predicted_social_group_mentions_with_economic_attributes_classifications.tsv 
manifesto_sentences_predicted_social_group_mentions_with_noneconomic_attributes_classifications.tsv
